.ingredientSummary_showMoreButton {
    transition: transform .3s ease-out, color .3s ease-out;
}
.ingredientSummary_showMoreButton.ingredientSummary_showMoreButton-detailShown {
    transform: rotate(180deg);
}

.ingredientDetail_wrapper {
    background-color: var(--ion-color-step-100);
    transition: max-height .3s ease-out;
    max-height: 0;
    overflow: hidden;
}
.ingredientDetail_wrapper.ingredientDetail_wrapper-detailShown {
    max-height: var(--ingredientDetail-innerHeight);
}

.ingredientDetail_inner {
    padding: var(--padding-detail);
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredientDetail_inner ion-thumbnail {
    --size: 4rem;
}
